

body {
		background: #ffffff;
    font-style: normal;
		font-weight: 300;
    overflow-x: hidden;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1{
font-family: 'Baloo 2', cursive;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 102px;
text-align: center;

color: #FFFFFF;
}


h4 {
  position: absolute;
  width: 437px;
  height: 62px;
  left: 501px;
  top: 414px;
  
  font-family: 'Baloo 2', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 62px;
  text-align: center;
  
  color: #405764;
}


.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}


/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  font-family: 'Baloo 2', cursive !important;
  color: #4d638c;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #4d638c;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  overflow: hidden;
 
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-wordpress.sk-spinner {
  background-color: #bfba55;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite; 
}

.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; 
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }







/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
}

.main-home {
  background: url('../images/backg.png') no-repeat;
  height: 100vh;
}



#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}



#home .btn {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #444;
  font-family: 'Baloo 2', cursive;
  
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

#home .btn:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

