* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

.navbar {
  background: linear-gradient(180deg, #698797 50.52%, #84a7b8 100%);
}

.nav-link {
  text-align: center;
}
.nav-link {
  font-family: "Baloo 2", cursive;
  font-size: 22px;
  margin-left: 20px;
  color: #ffffff !important;
}

.nav-link:hover::after {
  border-bottom: 3px solid #9fcdcd;
  content: "";
  display: block;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

#home {
  margin-top: 0px;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.main-home {
  background: url("../images/backg.png") no-repeat;
  height: 100vh;
}
.main-home2 {
  background: url("../images/backg.png") no-repeat;
  height: 100vh;
  opacity: 70%;
}

h1 {
  font-family: "Baloo 2", cursive;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 5px 3px #405764;
}
.site-footer {
  background: linear-gradient(
    180deg,
    #84a7b8 43.54%,
    #799aaa 66.98%,
    #698797 100%
  );
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}
.site-footer a {
  color: #ffffff;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
a {
  font-family: "Baloo 2", cursive;
  font-size: 15px;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background: #60b2bd;
}
.btn-success {
  background: linear-gradient(
    180deg,
    #28aa3d 43.33%,
    rgba(2, 77, 0, 0) 114.44%
  ) !important;
  border: 0px solid #7d644b !important;
  width: 190px;
  height: 55px;
  box-sizing: border-box !important;
  box-shadow: 5px 3px 10px #406264 !important;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.btn-success:hover {
  background: #154d1e !important;
}
.btn-danger {
  background: linear-gradient(
    180deg,
    #c81010 47.04%,
    rgba(166, 15, 15, 0) 114.44%
  );
  border: 0px solid #7d644b !important;
  width: 190px;
  height: 55px;
  box-sizing: border-box !important;
  box-shadow: 5px 3px 10px #406264 !important;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.btn-danger:hover {
  background: #4b0f0f !important;
}
label {
  font-family: "Baloo 2", cursive;
  font-size: 20px !important;
  text-align: center;
  color: #ffffff;
}
.btn-primary:hover {
  background: #9fcdcd !important;
}

